# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=

# App Configuration
APP_URL=https://ais-dev-udsemricgy7vyzruks5fbd-609592153951.asia-east1.run.app
SESSION_SECRET=
NODE_ENV=development
